.App {
  /* max-width: fit-content; */
  font-family: sans-serif;
  color: black;
  background-color: rgb(255, 255, 255) ;
  display: flex; 
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns:  repeat(auto-fit,minmax(270,1fr)) ;
}
img{
  border-radius: 15px;
  height: 320px;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit:  cover;
  text-align: center;
}
.film-container{
  width:230px;
  padding: 10px;
}
.title-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p{
  font-weight: lighter;
  color:#958989;
}
